.projects h2 {
  font-size: 3rem;
  font-weight: 500;
  width: 85%;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

@media screen and (max-width: 480px) {
  .projects h2 {
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
    text-align: center;
  }
}
