.project {
  display: flex;
  margin: 1rem 0;
}

.projectLeft {
  flex: 1;
  padding: 1rem 1rem;
}
.projectLeft img {
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.projectRight {
  flex: 2;
  padding: 1rem 1rem;
}

.projectRight p {
  width: 80%;
}

.projectRight ul {
  display: flex;
}

.projectRight ul li {
  margin: 1rem 1rem 0 0;
}

.projectIcon {
  cursor: pointer;
  font: 2rem;
}

@media screen and (max-width: 480px) {
  .project {
    flex-direction: column;
    margin-bottom: 1.5rem;
  }

  .projectLeft {
    padding: 0.3rem 0.5rem;
  }

  .projectRight {
    padding: 0.3rem 0.5rem;
  }

  .projectRight h3 {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
  }

  .projectRight p {
    width: 100%;
    text-align: center;
  }

  .projectRight ul {
    justify-content: center;
  }

  .projectRight ul li {
    margin: 0.4rem 1rem 0 0;
  }
}
