.wrapper {
  padding: 0 3rem;
}

.footer p {
  font-weight: 500;
  font-size: 1rem;
}

.footerTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerTop ul {
  display: flex;
  align-items: center;
}

.footerTop ul li {
  margin-right: 1rem;
  font-weight: 600;
  color: var(--secondary-text);
}

.footerBottom {
  text-align: center;
  margin: 2rem 0;
}

.footerLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerLogoIcon {
  margin-right: 0.5rem;
  font-size: 1rem;
  color: var(--secondary-text);
}
